Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-07, with the labels that each got.

#305 chore(issue-194): adding new tests for cart feature flag in product item component
  client/src/components/product-item.js
  client/src/components/styles/product-item.js
  client/src/utils/config.js
  client/test/components/product-item.test.js
  client/test/pages/checkout.test.js
  client/test/pages/contact.test.js
  client/test/pages/home.test.js
  client/test/pages/product-list.test.js
  client/test/pages/product.test.js
  client/test/pages/shipping.test.js
  client/test/product-list.test.js
  client/web-dev-server.config.mjs
Labels: component: client

#310 fix: add headerlint ignore for #290
  .github/header-check-lint.yml
Labels: type: bug

#315 chore: npm audit fix
  client/package-lock.json
Labels: component: client

#314 chores(deps): update dependency prettier to v3, and format
  client/package-lock.json
  client/package.json
  client/src/components/checkout-dialog.js
  client/src/components/product-item.js
  client/src/helpers/checkout.js
  client/src/pages/checkout.js
  client/src/pages/product-list.js
  client/src/utils/fetch.js
  client/test/components/product-item.test.js
  client/test/pages/checkout.test.js
  client/test/pages/contact.test.js
  client/test/pages/product-list.test.js
  client/test/pages/product.test.js
  client/test/pages/shipping.test.js
Labels: component: client

#297 fix: replace googleapidiscovery with google-cloud-run
  server/avocano_api/cloudrun_helpers.py
  server/requirements.txt
Labels: type: bug, component: server

#313 fix: update release-please.json to update package-lock.json
  release-please-config.json
Labels: type: bug

#307 fix: remove autodiscovery for otel
  docs/admin/README.md
  docs/admin/opentelemetry.md
  server/Procfile
  server/manage.py
Labels: type: bug, component: server, component: docs

#326 chore: Add additional tests to cart logic
  provisioning/test/client_test.py
  provisioning/test/conftest.py
  provisioning/test/requirements.txt
  provisioning/test/server_test.py
Labels: component: provisioning

#337 chore: update licence headers
  .github/sync-repo-settings.yml
  .github/trusted-contribution.yml
  .github/workflows/client-unit-tests.yml
  .github/workflows/lint-client.yml
  .github/workflows/lint-server.yml
  .github/workflows/lint-terraform.yml
  .github/workflows/server-unit-tests.yml
  client/docker-deploy.sh
  provisioning/automation/admin-project-setup.sh
  provisioning/automation/bashhelpers.sh
  provisioning/automation/cleanup.cloudbuild.yaml
  provisioning/automation/cloudbuild.yaml
  provisioning/automation/deploy.cloudbuild.yaml
  provisioning/automation/project-setup.sh
  provisioning/test/test.cloudbuild.yaml
  server/avocano_api/healthchecks.py
  server/store/migrations/0003_alter_testimonial_reviewer_location.py
  server/store/migrations/0004_alter_siteconfig_base_font_and_more.py
  server/store/migrations/0005_alter_product_name.py
Labels: component: client, component: provisioning, component: server

#325 fix: correct csrftoken promise issues
  client/src/utils/fetch.js
Labels: type: bug, component: client

#327 Log inventory errors to Cloud Logging
  server/store/serializers.py
  server/store/views.py
Labels: component: server

#341 fix: Remove .txt files from requiring licence headers
  .github/header-checker-lint.yml
Labels: type: bug
