Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-02, with the labels that each got.

#37 fix(issue-25): tiny prevent default fix when a product is purchased
  client/src/components/product-item.js
Labels: priority: p0

#43 refactor: updating client readme
  client/README.md
  client/firebase.json
  client/index.html
  client/web-dev-server.config.mjs
Labels: component: client

#40 fix(issue-39): resolves hard refresh error and testimonial caching in client app
  client/404.html
  client/README.md
  client/package-lock.json
  client/rollup.config.js
  client/src/avocano-shell.js
  client/src/components/product-item.js
  client/src/pages/not-found.js
  client/src/pages/styles/not-found.js
  client/web-dev-server.config.mjs
Labels: type: bug, priority: p0, component: client

#44 Deploy client with Cloud Run job, image
  client/Dockerfile
  provisioning/client-image.cloudbuild.yaml
  provisioning/terraform/container.tf
  provisioning/terraform/jobs.tf
  setup.sh
Labels: component: client, component: provisioning

#48 Fix syntax error
  provisioning/automation/cloudbuild.yaml
Labels: component: provisioning

#52 Add client-image customisation script
  client/Dockerfile
  client/README.md
  client/docker-deploy.sh
Labels: component: client

#64 Ensure job isn't created without API being enabled
  provisioning/terraform/jobs.tf
Labels: component: provisioning

#67 Integration tests include client tests as standard
  provisioning/automation/cloudbuild.yaml
  provisioning/terraform/jobs.tf
Labels: component: provisioning

#73 Allow cloudshell.dev for local dev
  server/avocano_api/settings.py
Labels: component: server

#75 Cleanup server migrate step
  docs/django/apply-migrations.md
Labels: component: docs

#77 Allow custom image names (for upstream triggers)
  provisioning/client-image.cloudbuild.yaml
  provisioning/server.cloudbuild.yaml
Labels: component: provisioning

#76 Dynamically set TF bucket on init
  cloudbuild.yaml
  docs/admin/extending-example.md
  provisioning/automation/project-setup.sh
  provisioning/terraform.cloudbuild.yaml
  provisioning/terraform/.gitignore
  provisioning/terraform/main.tf
Labels: component: provisioning, component: docs

#79 Document management commands and usage
  docs/admin/README.md
Labels: component: docs

#80 Client docs: s/npm build/npm run build
  client/README.md
Labels: component: client
