Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-04, with the labels that each got.

#142 Correct cloudshell_host to support subdomains
  server/avocano_api/settings.py
Labels: component: server

#143 fix: add conventional commit check
  .github/conventional-commit-lint.yaml
Labels: type: bug

#138 docs: updating client docs with cart specifics
  client/README.md
Labels: component: client

#150 feat: change payment default to collect
  client/src/components/checkout-form.js
Labels: type: feature request, component: client

#154 feat: Add container annotations for title, description, and purchase_mode
  client/Dockerfile
Labels: type: feature request, component: client

#160 fix: correct cors issues in local development
  server/avocano_api/settings.py
Labels: type: bug, component: server

#164 fix: make setup script idempotent
  server/scripts/prime_database.sh
  server/store/management/commands/create_new_product.py
  server/store/management/commands/generate_testimonials.py
  server/store/migrations/0005_alter_product_name.py
  server/store/models.py
Labels: type: bug, component: server

#162 fix: only call WebFont.load if there are web fonts to load
  client/src/avocano-shell.js
Labels: type: bug, priority: p1, component: client

#178 chore: declare changelog sections
  release-please-config.json
Labels: ignore-for-release

#184 chore: re-enable renovate dependency dashboard
  renovate.json
Labels: ignore-for-release

#187 fix: renovate matchPaths syntax
  renovate.json
Labels: type: bug

#183 chore(deps): replace direct dependency on deprecated rollup-plugin-terser
  client/package-lock.json
  client/package.json
Labels: component: client, ignore-for-release

#179 fix: add migrate to default deployment method, use unattended createsuperuser
  cloudbuild.yaml
  docs/django/apply-migrations.md
  provisioning/server.cloudbuild.yaml
  provisioning/server.update.sh
  provisioning/terraform/jobs.tf
  server/scripts/prime_database.sh
  server/store/migrations/0001_create_superuser.py
  server/store/migrations/0001_initial.py
Labels: type: bug, component: provisioning, component: server, component: docs

#193 fix: get_or_create must be formatted like this to prevent django.db.utils.IntegrityError
  server/store/management/commands/create_new_product.py
Labels: type: bug, component: server

#208 Update bug-report.md: Add type and priority labels
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: type: cleanup

#198 fix: use google_project_iam_member to manage IAM permissions
  provisioning/terraform/iam.tf
Labels: type: bug, component: provisioning

#214 chore: Increase grouping and slow down scheduling of renovate
  renovate.json
  renovate.json5
Labels: type: cleanup, ignore-for-release

#203 feat: update Cloud Run Jobs to GA, remove beta references
  cloudbuild.yaml
  docs/admin/extending-example.md
  docs/admin/management-commands.md
  docs/django/apply-migrations.md
  provisioning/terraform/jobs.tf
  setup.sh
Labels: type: feature request, component: provisioning, component: docs

#210 feat: support multiple firebase deployments
  client/docker-deploy.sh
Labels: type: feature request, component: client
