Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-05, with the labels that each got.

#222 feat: offer customisable billing account id option
  provisioning/automation/cloudbuild.yaml
  provisioning/automation/project-setup.sh
Labels: type: feature request, component: provisioning

#225 fix: remove startup probe
  provisioning/terraform/service.tf
Labels: type: bug, component: provisioning

#239 fix(minor): formatting shell script
  client/docker-deploy.sh
Labels: type: bug, component: client

#240 Update Cloud Run service to better map to v2 TF
  provisioning/terraform/service.tf
Labels: component: provisioning

#237 fix(issue-149): update email validation on input change
  client/package-lock.json
  client/package.json
  client/src/components/checkout-form.js
Labels: type: bug, component: client
