Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-06, with the labels that each got.

#273 fix: correct python linter to error on formatting problems
  .github/workflows/lint-server.yml
  provisioning/test/client_test.py
  provisioning/test/server_test.py
  server/avocano_api/healthchecks.py
  server/store/management/commands/create_site_config.py
  server/store/management/commands/generate_testimonials.py
  server/store/migrations/0003_alter_testimonial_reviewer_location.py
  server/store/migrations/0004_alter_siteconfig_base_font_and_more.py
  server/store/tests.py
Labels: type: bug, component: provisioning, component: server

#280 Update to Python 3.11, downgrade to Debian 11 for Playwright
  cloudbuild.yaml
  provisioning/automation/cloudbuild.yaml
  provisioning/test/README.md
  provisioning/test/test.cloudbuild.yaml
Labels: component: provisioning

#281 fix: remove extra pipe from shell command
  provisioning/automation/admin-project-setup.sh
Labels: type: bug, component: provisioning

#282 fix: support deployment suffix IDs to customise CSRF trusted domains
  server/avocano_api/settings.py
Labels: type: bug, component: server

#274 testing: terraform linter exit code fix
  .github/workflows/lint-terraform.yml
Labels: type: bug

#293 fix: restore client annotation to cloud run service
  provisioning/terraform/service.tf
Labels: type: bug, component: provisioning

#294 fix: restore startup probe, 1s period
  provisioning/terraform/service.tf
Labels: type: bug, component: provisioning
