Repository GoogleCloudPlatform/avocano, pull requests merged in 2023-03, with the labels that each got.

#96 Add management command doc
  docs/admin/management-commands.md
Labels: component: docs

#103 feat: init release tags
  README.md
Labels: type: feature request

#104 fix: releaseplease
  .github/release-please.yml
  version.txt
Labels: type: bug

#107 feat: introduce tagged image build configuration
  provisioning/tagged-images.cloudbuild.yaml
Labels: type: feature request, component: provisioning

#111 fix: syntax
  provisioning/tagged-images.cloudbuild.yaml
Labels: type: bug, component: provisioning

#102 feat: Add startup and liveness checks
  provisioning/terraform/output.tf
  provisioning/terraform/service.tf
  server/avocano_api/cloudrun_helpers.py
  server/avocano_api/healthchecks.py
  server/avocano_api/settings.py
Labels: type: feature request, component: provisioning, component: server

#101 feat: add OpenTelemetry tracing support
  provisioning/terraform/iam.tf
  provisioning/terraform/service.tf
  server/Procfile
  server/avocano_api/settings.py
  server/requirements.txt
Labels: type: feature request, component: provisioning, component: server

#125 docs: replace Google internal URL with the public one
  client/README.md
Labels: component: client

#113 feat: checkout API
  client/README.md
  server/store/serializers.py
  server/store/tests.py
  server/store/urls.py
  server/store/views.py
Labels: type: feature request, component: server

#123 fix: add purchase mode flag
  .gcloudignore
  .gitignore
  client/Dockerfile
  cloudbuild.yaml
  provisioning/automation/test.cloudbuild.yaml
  provisioning/client-image.cloudbuild.yaml
  provisioning/client.cloudbuild.yaml
  provisioning/tagged-images.cloudbuild.yaml
  provisioning/test/client_test.py
Labels: type: bug, component: client, component: provisioning

#132 fix: ensure storage is deployed to selected region
  provisioning/terraform/storage.tf
Labels: type: bug, component: provisioning

#134 fix: ensure playwright gets test flag
  cloudbuild.yaml
  provisioning/test/test.cloudbuild.yaml
Labels: type: bug, component: provisioning
